@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "main";

.container {
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    background-color: $body-bg;
}
